  /* Add a gray background color and some padding to the footer */


  footer {
      background-color: gainsboro;
      padding:12px;
    }
    .navbar-brand {
      text-transform: uppercase;
      padding: 10px;
    }
    #bg-gradient {
    height: 180px;;
    width:100%;
    }
    #info {
      padding-top:8px;
    background-color:#fff;
      height: 55px;
      width:100%;
    }
    #info p {
      text-align:left!important;
      padding-left:10px;
      font-size: 0.8em;
      font-weight: 700;
    }
    #info h5 {
      text-align:left;
      text-transform: capitalize;
      padding-left: 10px;
      font-size: 0.9em;
      font-weight: 700;
    }
#bodybg {
padding-top: 30px;
height: 350px;
background: linear-gradient(#657a99,#9eb962);
}
input#colorone,
input#colortwo {
  width: 4rem;
  height: 3rem;
  border-color: blue;
  margin: 8px;
  cursor: pointer;
}
.swal-text {
  text-transform: capitalize;
}


