  /* Add a gray background color and some padding to the footer */
    footer {
      background-color: gainsboro;
      padding:12px;
    }
    .navbar-brand {
      text-transform: uppercase;
      padding: 10px;
    }
    #bg-gradient {
    height: 220px;;
    width:100%;
    }
#bodybg {
padding-top: 30px;
height: 350px;
background: linear-gradient(#657a99,#9eb962);
}
input#colorone,
input#colortwo {
  width: 4rem;
  height: 3rem;
  border-color: blue;
  margin: 8px;
  cursor: pointer;
}


